<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
    {{>header}}
    <div class="body">
        <h2>{{name}}</h2>
        <img class="about-img" src="./images/hailac.jpg" alt="">
    </div>
    {{>footer}}
</body>
</html>